<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.naftal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GPLM"
        android:supportsRtl="true"
        android:theme="@style/Theme.Naftal">
        <activity android:name=".rv_admin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".Administrateur"
            android:theme="@style/style_client">

        </activity>
        <activity android:name=".Dispatcheur"
            android:theme="@style/style_client">

        </activity>
        <activity
            android:name=".Activity_Client"
            android:theme="@style/style_client">

        </activity>
        <activity
            android:name=".Change_Pass"
            android:theme="@style/Custom_Dialog" />
        <activity
            android:name=".Historique"
            android:theme="@style/style_chauffeur" />
        <activity
            android:name=".Activity_chauffeur"
            android:theme="@style/style_chauffeur">

        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>